.custom-theme {
  .el-menu-item.is-active {
    color: #409167 !important;
  }
  .el-table td.tag > div.cell {
    padding-left: 3px;
  }
  .el-tree--highlight-current .is-current > .el-tree-node__content::before {
    background: #262729;
  }
}